pkgbase = ros-noetic-rqt-nav-view
	pkgdesc = ROS - rqt_nav_view provides a gui for viewing navigation maps and paths.
	pkgver = 0.5.7
	pkgrel = 3
	url = https://wiki.ros.org/rqt_nav_view
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	depends = ros-noetic-rqt-py-common
	depends = ros-noetic-rqt-gui-py
	depends = ros-noetic-qt-gui
	depends = ros-noetic-tf
	depends = ros-noetic-nav-msgs
	depends = ros-noetic-python-qt-binding
	depends = ros-noetic-rqt-gui
	depends = ros-noetic-rospy
	depends = ros-noetic-geometry-msgs
	source = ros-noetic-rqt-nav-view-0.5.7.tar.gz::https://github.com/ros-visualization/rqt_nav_view/archive/3df965e03649c459d118d9cbbbaf4cc1f5f22196.tar.gz
	sha256sums = 8191116346b08146b1cd7bb1f92914f310ef1fe59bb340686d44dc1f52a10a6f

pkgname = ros-noetic-rqt-nav-view
